body{
    background-color: 004175;
}
div{
    background-color: 89DEEF;
    width: auto;
    height: auto;
    color: white;
}

.center {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 50%;
  }

  img {
    width: 25%;
    height: auto;
}